<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dans tes coms</title>
    <meta name="description" content="@ViewBag.description" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", false)
    @Scripts.Render("~/bundles/ajaxJsResponse")
</head>
<body>
    <header class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <p><a href="@Url.Action("Index", "Home")" class="logo"><img height="70" width="180" src="~/Images/logo.png" alt="" /></a></p>
                </div>
                <div class="col-md-6">
                    <ul id="menu" class="nav navbar-nav">

                        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li class="divider"><a>|</a></li>

                        <li>@Html.ActionLink("Garanties", "Index", "Garanties")</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <section class="row" id="login">
                        <div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </header>
    <div id="body">
        <section class="container ">
            <div class="backgroundWhite">
        @RenderBody()
            </div>
            

        </section>
    </div>
    <footer>
        <div class="container">
            <div class="text-center">
                <p>
                    &copy; @DateTime.Now.Year - ZIENTEK Lucas <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.Accueil, "Index", "Home") <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.About, "About", "Home") <span class="separator">|</span>
                    @Html.ActionLink(GeneralRessources.Contact, "Contact", "Home")
                </p>
            </div>
        </div>
    </footer>

</body>
</html>