@using System.Text
@using LucasHelpers.DateTimeHelpers
@model MesGaranties.Core.Models.Garantie

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div class="row">
    <div class="col-md-offset-1 col-md-5"><img class="col-md-12" src="@Model.PhotoProduit" /></div>
    <div class="col-md-6">
       
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @if (Model.FinDeGarantie < DateTime.Today)
                {
                    <span class="text-danger">Garantie expiré.</span>
                }
                else
                {

                    <span class="text-success">Toujours sous garantie.</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FinDeGarantie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinDeGarantie)
                @if (Model.FinDeGarantie > DateTime.Today)
                {
                    <text>encore</text>
                    @Model.FinDeGarantie.ToNumberOfDays();
                    <text> jours.</text>
                }
            </dd>
            @if (!string.IsNullOrEmpty(Model.Commentaire))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Commentaire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Commentaire)
                </dd>
            }

        </dl>

        @if (!string.IsNullOrEmpty(Model.PhotoTicketDeCaisse))
        {
            <p><a target="_blank" href="@Model.PhotoTicketDeCaisse">@Html.DisplayNameFor(model => model.PhotoTicketDeCaisse)</a></p>
        }
        @if (!string.IsNullOrEmpty(Model.PhotoFicherAnnexe))
        {
            <p><a target="_blank" href="@Model.PhotoFicherAnnexe">@Html.DisplayNameFor(model => model.PhotoFicherAnnexe)</a></p>
        } 
 
            
        <div class=" menu-bouton col-md-12">
            <form action="@Url.Action("Index","Garanties")" method="GET">
                <input type="submit" value="Retour a la liste" class="btn btn-success" />
            </form>
            <form action="@Url.Action("Edit","Garanties",new{id=Model.Id})" method="GET">
                <input type="submit" value="Modifier" class="btn btn-warning" />
            </form>
            <form action="@Url.Action("Delete","Garanties",new{id=Model.Id})" method="GET">
                <input type="submit" value="Supprimer" class="btn btn-danger" />
            </form>
        </div>
    </div>



</div>

